/* Personalização da homepage */
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

.buttons_homepage[type=submit] {
    font-size:2.0em;
}

.boxtext_size[type=text] {
  font-size:2.0em;
}

form {
  display: inline;
}

/* personalização da tabela de clientes */
.table {
  border-spacing: 0;
  margin: 1rem;
  background-color: lightcyan;
}

.table__row:nth-child(even) {
  background-color: white;
}

.table__header {
  background-color:lightsteelblue;
  text-align: left;
}

.table__cell {
  padding: 8px;
  width: 30%;
}

.table__div {
  margin: auto;
  width: 100%;
  padding: 10px;
}

/* Personalização do perfil do usuario */
.container{
  width: 80%;
  height: 400px;
  background: black;
  margin: auto;
  padding: 5px;
}
.one{
  width: 50%;
  height: 400px;
  background: lightcyan;
  float: left;;
}
.two{
  margin-left: 50%;
  height: 400px;
  padding-left: 100px;
  background: lightgray;
}

.center_one{
  margin: auto;
  width: 50%;
  padding: 30px;
}

.center_two{
  margin: auto;
  width: 50%;
  padding: 10px;
}