<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="center">
        <img src="../static/images/logo2.jpg" alt="Logotipo"/>
    </div>
        <div class="center">
            <form methods="POST" action="/imoveis">
                <input type="submit" href="{{url_for('imoveis')}}" value="Imoveis" class="buttons_homepage">
            </form>
            <form methods="POST" action="/login">
                <input type="submit" href="{{url_for('login')}}" value="Logar" class="buttons_homepage">
            </form>
        </div>
</body>
</html>